@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

<img src="https://image.freepik.com/free-vector/cute-cat-chef-holding-cloche-food-cartoon-vector-illustration_138676-2236.jpg"  width="350" height="350">
<h1 class="display-4">Benvenuti al ristorante da Oscar!</h1>

</div>
